# system
.DS_Store
Thumbs.db

# logs/temp/uploads
logs/
*.log
tmp/
uploads/*

# env / secrets
app/env.local.php
.env
.env.*

# composer (if you add it later)
vendor/
composer.lock

# IDE
.vscode/
.idea/
