# system
.DS_Store
Thumbs.db

# logs/temp/uploads
logs/
*.log
tmp/
uploads/*

# env / secrets
app/env.local.php
.env
.env.*

# composer (if you add it later)
vendor/
composer.lock

# IDE
.vscode/
.idea/

# local/secrets/runtime
app/env.local.php
var/sessions/
var/cache/
var/tmp/
*.log
*.zip
